{
  "presets": ["airbnb", "react", "stage-0", ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      },
      "include": ["transform-es2015-arrow-functions", "es6.map"],
      "exclude": ["transform-regenerator", "es6.set"],
      "useBuiltIns": true
    }]],
  "plugins": [
    "react-hot-loader/babel",
    ["transform-require-ignore", {
      "extensions": [".css"]
    }],
    "transform-class-properties",
    "syntax-trailing-function-commas",
    "transform-decorators-legacy",
    ["module-resolver", { "root": ["./src", "./"] }]
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-intl", {
          "messagesDir": "./build/messages/",
          "enforceDescriptions": true,
          "removeExtractedData": true
        }]
      ]
    }
  }
}
