## Mandatory rules

### Generated content
build/
!build/i18n/*/Readme.md
src/intl-message/intl-language-select/generated.js
node_modules/


*.log

#### Environment
.env
.phraseapp.yml


## Opinionated rules
.idea/
!.idea/webResources.xml
!.idea/codeStyleSettings.xml
!.idea/jsLibraryMappings.xml
!.idea/inspectionProfiles/Project_Default.xml
!.idea/codeStyleSettings.xml
